*{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
}
.logo{
padding-top: 3rem;
padding-bottom: 2rem;
}
form{
  font-size: 16px;
}
form label{
  margin: 10px;
  font-size: 17px;
}
form input{
  margin: 10px;
}
table th {
  text-align: center; 
}
.table {
  margin: 10px;
  width: 90% !important; 
}
.col1{
  max-width: 10px;
}